<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_IPushService" maxBufferPoolSize="2147483647"
                    maxReceivedMessageSize="2147483647">
                    <security mode="None" />
                </binding>
            </netTcpBinding>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IQueryService" maxBufferPoolSize="2147483647"
                    maxReceivedMessageSize="2147483647">
                    <security mode="None" />
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:50001/AutoParkingService/PushService"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IPushService"
                contract="PushService.IPushService" name="NetTcpBinding_IPushService">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:50003/AutoParkingService/QueryService"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IQueryService"
                contract="QueryService.IQueryService" name="WSHttpBinding_IQueryService">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>